#root {
  background-color: rgb(212, 198, 198);
}

.navClass {
  background-color: #9aaae7;
  color: #031022;
  display: flex;
  justify-content: space-around;
  z-index: 1;
  top: 0px;
}

.select {
  height: 40px;
  padding: 10px;
  margin: 20px 10px 10px 10px;
  border-radius: 1px;
  font-size: 10px;
  font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
}

.inputClass {
  height: 27px;
  padding: 5px;
  margin: 20px 10px 10px 10px;
  border-radius: 1px;
  font-size: 20px;
  color: #2b5286;
}

.searchLabel {
  padding: 10px;
  margin: 10px;
  font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
  font-size: 2em;
  color: #0f3970;
  border: solid;
}

.eachCard {
  margin-top: 30px;
  text-align: center;
  background-color: rgb(100, 12, 12);
  color: white;
  height: 450px;
  box-shadow: 5px 5px 10px rgb(100, 5, 5);
}

.h1Class {
  font-size: 17px;
}

img {
  width: 100%;
}

.cardClass {
  text-align: center;
  background-color: rgb(119, 96, 96);
  color: white;
  height: 450px;
  box-shadow: 5px 5px 10px rgb(56, 3, 3);
}

.cardClass > h1 {
  font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
  padding: 5px 10px;
  color: rgb(12, 12, 12);
  font-size: 1em;
  background-color: tomato;
}

p {
  text-align: justify;
  padding: 5px;
}
